body{
	font-family: josefin;
	background-color: #47ceff;
	color: white;
	text-transform: uppercase;
}
h1 {

}
@font-face {
	font-family: josefin;
	src: url(JosefinSans-SemiBold.ttf);
}
button {
	background-color:#ffffff;
	border-radius:35px;
	cursor:pointer;
	font-size:15px;
	padding: 6px 6%;
	border-color:white;
	margin-top: 15px;
	font-family: josefin;
	color: gray;
}
input[type=text],[type=button],[type=password]{
	background-color:#ffffff;
	border-radius:35px;
	font-size:15px;
	padding: 6px 4%;
	border-color:white;
	font-family: josefin;
	color: gray;
	
}
 #cat1:before{background-image: url(icons/tech.png);}
 #cat2:before{background-image: url(icons/exercise.png);}
 #cat3:before{background-image: url(icons/art.png);}
 #cat4:before{background-image: url(icons/home.png);}
 #cat5:before{background-image: url(icons/game.png);}
input[type=checkbox]:before
{background: #1f1f1f;
	
	background-repeat: no-repeat;    background-size: 70%;
	height: 100%;width: 20%;
	display:inline-block;
	/* padding: 0 0 0 0px; */
	content:"";position: fixed;top: 0;
	    background-position-y: center;
	        background-position-x: center;
}
input[type=checkbox]:checked:before 
{
background: #47ceff;
background-repeat: no-repeat;    background-size: 70%;
    background-position-y: center;
        background-position-x: center;
}




img{
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
	display:none;
	margin-left: 30px;
	margin-right: 30px;
	height: 45%;
}

/* index style */
#login-form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.logo{
	text-align: center;
	font-size: 140px;
	margin-top: 0;
	margin-bottom: 20px;
}
.index{
	position: absolute;
	left: 49%;
	top: 44%;
	transform: translate(-50%, -50%);
}

.text-center {
	text-align: center;

}
.form-label {
	margin-bottom:20px;
}
.login-details{
	margin-top:10px;
	width:100%;
}

/* items style */
.items{
	font-size: 18px;
	/* width: 100%; */
	margin: 0;
}
.items-form{
	width: 100%;
	position: fixed;
	top: 0px;
	/* background-color: #313131; */
}
.items-label {
	margin-bottom: 30px;
	width: 100%;
	/* margin-left: auto; */
	/* margin-right: auto; */
	text-align: center;
	position: fixed;
	bottom: 0;
}




input#clickMe {
    width: 100px;
}
.submit-button {
    position: fixed;
    bottom: 30px;
    right: 5%;
        z-index: 100;
}

.items-check {
	display: inline;
	/*margin-right: 20%;*/
}
.items-check input{
	/* display: none; */
	margin: 0;
}
.items-results
{
	display:none;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(19, 19, 19, 0.82);
	text-align: center;
}
.items-results h1{
	margin-top: 17vh;
	padding: 1vh;
	font-size: 4.5vh;
}
.items-results h2{
	padding: 1vh;
	font-size: 4vh;
}
.items-header{
	position: fixed;
	z-index: 100;
	width: 100%;
	text-align: center;
	background: #000000;
}
.items-header-title{font-size: 8vh;margin-top: 1vh;margin-bottom: 1vh;}
.items-label input{
	/* width: 100px; */
	}